@charset 'utf-8';// 不加这行，文件中有中文时会报错
@import "public";

header {
	.left-arrow {
		position: absolute;
    	top: 12px;
    	left: 20.5px;
    	border-right: 3px solid #fff;
    	border-bottom: 3px solid #fff;
    	transform: rotate(135deg);
    	a {
    		display: block;
    		width: 15px;
    		height: 15px;
    	}
	}
	p {
		line-height: 42.5px;
	}
}

nav {
	padding: 37.5px 0 37.5px 15px;
	width: $width;
	height: 170px;
	box-sizing: border-box;
	background: url(../images/nav-bg.png) $width no-repeat;
	background-size: cover;
	.head {
		display: inline-block;
		width: 95px;
	}
	.introduce {
		display: inline-block;
		margin-left: 18px;
		width: 150px;
    	height: 95px;
    	vertical-align: top;
    	color: $white;
    	img {
			width: 12px;
			vertical-align: middle;
    	}
	}
	p {
		display: inline-block;
	}
}

main {
	width: $width;
	.main-title {
		display: inline-block;
		margin: 16.5px 0 16.5px 15px;
		padding-left: 15px;
		border-left: 2px solid $blue;
		box-sizing: border-box;
		line-height: 18px;
	}
	.greyline {
		display: inline-block;
		margin: 0 10px;
		width: 1px;
		height: 16px;
		vertical-align: middle;
		background: $frenchgrey;
	}
	.main-content {
		@include greyborder-top;
		@include greyborder-bot;

		div {
			margin-left: 15px;
    		padding-left: 15px;
			@include greyborder-bot;
			line-height: 50px;
			img {
				width: 15px;
				vertical-align: middle;
			}
		}
		.noborder {
			border: none;
		}
		.introduce-text {
    		display: inline-block;
			width: 67%;
    		line-height: 30px;
   		 	vertical-align: middle;
		}
	}
}

footer {
	position: relative;
	margin: 50px 0 40px;
	padding: 0 15px;
	width: $width;
	box-sizing: border-box;
	button {
		width: 48%;
		height: 50px;
		border: 1px solid $blue;
		border-radius: 4px;
		font-size: $font-size - 1;
	}
	.bg-b {
		background-color: $blue;
		&:hover {
			background-color: #5fc9cd;
		}
		&:focus {
			background-color: #5fc9cd;
		}
	}
	.bg-w {
		background-color: $white;
		&:hover {
			background-color: #eff;
		}
		&:focus {
			background-color: #eff;
		}
	}
}