@charset 'utf-8';// 不加这行，文件中有中文时会报错

$blue : #5fc0cd;

$red : #e63b0e;

$grey : #999;

$white : #fff;

$black : #333;

$font-size : 36px;

p {
	margin: 0;
}

a {
	text-decoration: none;
	outline: none;
	&:hover {
		text-decoration: none;
		outline: none;
	}
	&:focus {
		text-decoration: none;
		outline: none;
	}
}

button {
	border: none;
	outline: none;
	&:hover {
		border: none;
		outline: none;
	}
	&:focus {
		border: none;
		outline: none;
	}
}

.red-text {
	color: $red;
}

.blue-text {
	color: $blue;
}

.grey-text {
	color: $grey;
}

.white-text {
	color: $white;
}

.black-text {
	color: $black;
}

.left {
	float: left;
}
.right {
	float: right;
}